// Fancy Font
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Fancy device sizes
$mobile-width: 960px;

// Fancy Colors
$white: #fff;
$almost-white: #eee;
$gray: #333;
$gray-light: #ccc;
$display-color-1: #84c68c;
$display-color-2: #52A55C;
$display-color-3: #10631A;
$display-color-4: #004208;

// Other Fancy Vars
$border-radius: 8px;

// Fancy Mixins
@mixin cellColor($cell-color) {
  border-color: $cell-color;
  color: $cell-color;

  input[type="checkbox"]:checked + .display {
    background-color: $cell-color;
    color: $white;
  }
}

body {
  background-color: $almost-white;
  color: $gray;
  font-family: 'Roboto', sans-serif;
}

// Fancy Card

.fancy-card {
  background: $white;
  border-radius: $border-radius;
  margin: 0.5em 0;
  padding: 1em;

  header h1 {
    font-weight: 100;
    margin: 0 0 0.75em 0;
  }

  footer {
    color: $gray-light;
    font-size: 75%;
    text-transform: uppercase;
  }
}

// Fancy Selector

.fancy-selector {
  display: flex;
  flex-grow: row wrap;

  .option {
    display: flex;
    flex: 1;
    overflow: hidden;

    .display {
      border: 1px solid;
      border-right-width: 0;
      overflow: hidden;
      padding: 0.5em;
      white-space: nowrap;
    }

    &:nth-child(1) {
      @include cellColor($display-color-1);
    }

    &:nth-child(2) {
      @include cellColor($display-color-2);
    }

    &:nth-child(3) {
      @include cellColor($display-color-3);
    }

    &:nth-child(4) {
      @include cellColor($display-color-4);
    }

    &:first-of-type .display {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-of-type .display {
      border-radius: 0 $border-radius $border-radius 0;
      border-right-width: 1px;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      cursor: pointer;
      text-align: center;
      width: 100%;
    }
  }
}

// Fancy Grid System

.container {
  margin-left: 1em;
  margin-right: 1em;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  &, & * {
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .col-100 {
    width: 100%;
  }

  .col-50 {
    width: 50%;
  }

  .col-25 {
    width: 25%;
  }
}

.btn {
  font-size: 20px;
}

.btn-primary {
  background-color: $display-color-2;
  color: $white;
}

.btn-default {
  background-color: $gray;
  color: $white;
}

.btn-large {
  width: 60px;
  height: 30px;
}

